@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=El+Messiri&family=Poppins:wght@none&family=Roboto:ital,wght@0,400;1,300&display=swap');

font-face{
    font-family: 'Poppins';
    font-weight: 100;
}

@mixin mobile {
    @media screen and (max-width:800px) {
        @content;
    }
}
 
$popins: 'Poppins';
$color: #242424;
$color2: #161717;
$black: #161717;
$white: white;



%card {
    width: 300px;
    height: 159px;
    background-color: #0BF4C8;
    border-radius: 34px;
    position: relative;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.body{
    background-color: $color;
    .all__content{
        
        
        
        .left__nav{
            padding-top: 31px;
            background-color: $color2;
            width: 100px;
            height: 1000px;
            display: flex;
            align-items: center;
            flex-direction: column;
            border-radius: 50px 0 0 50px;
            row-gap: 38px;
            float: left;
            
            .nav__content{
                display: flex;
                flex-direction: column;
                row-gap: 40px;
                a{
                    color: white;
                    
                }
                
            }
        }
        .nav{
            
            padding: 32px 36px 0;
            .nav__content{
                        width: 1280px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
            
           
                    .search{
                        border: none;
                        display: flex;
                        align-items: center;
                        position: relative;
                        
                        
                        input{
                            width: 291px;
                            height: 53px;
                            padding-left: 68px;
                            border-radius: 24px;
                            background: rgba(255, 255, 255, 0.13);
                            border: none;
                            
                            left: 0;
                            font-size: 16px;
                            font-family: $popins;
                            font-weight: 500;
                        }
                        i{
                            margin: 32px 0;
                            color: $white;
                            font-size: 24px;
                            position: absolute;
                            padding-left: 24px;
                        }
                        
                    }
                    h3{
                        color: white;
                    }
                    .dropdown-center{
                        
                        .btn{
                            width: 259px;
                            height: 39px;
                            display: flex;
                            
                            .content{
                                
                                
                                h6{
                                    text-align: start;
                                    color: $white;
                                    font-size: 12px;
                                    font-family: $popins;
                                    font-weight: 500;
                                    
                                }
                                p{
                                    color: #5E5E5E;
                                    font-size: 12px;
                                    font-family: $popins;
                                    font-weight: 500;
                                }
                                
                            }
                            img{
                                padding-right: 17px;
                                padding-right: 9px;
                            }
                            ul{
                                display: none;
                            }
                        }
                    }
            }
        }
        .main{
            
            .nav{
                display: flex;
                

                h2{
                    padding-bottom: 20px;
                    color: white;
                }
                    .flex{
                        display: flex;
                        flex-direction: column;
                        
                        .boxs{
                            display: flex;
                            gap: 15px;
                          
                            .box2{
                                background-color: #FAD85D;
                            }
                            
                            .box, .box2, .box3{
                                @extend %card;
                                padding: 0 14px 23px 24px;
                                position: relative;
                                z-index: -1;
                                overflow: hidden;
                                .svg{
                                    padding-top: 8px;
                                    z-index: -1;
                                    position: relative;
                                }
                                .rectangle1{
                                    height: 98px;
                                    width: 29px;
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: 34px;
                                    position: absolute;
                                    margin-top: 30px;
                                    top: 0;
                                    left: -15px;
                                    z-index: 5;
                                    div{
                                        
                                        width: 29px;
                                        height: 10px;
                                        background-color: #161717;
                                        border-radius: 50px;
                                    }
                                }
                                .text{
                                    
                                    position: absolute;
                                    top: 22px;
                                    h5{
                                        font-family: $popins;
                                        font-size: 16px;
                                        font-weight: 700;
                                        color: #131215;
                                        padding-bottom: 15px;
                                    }
                                    h4{
                                        padding-bottom: 8px;
                                        font-family: $popins;
                                        font-weight: 800;
                                        color: #131215;
                                        font-size: 32px;
                                    }
                                    a{
                                        color: #131215;
                                        font-size: 12px;
                                    }
                                }
                                img{
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    z-index: 5;
                                }
                                .rectangle{
                                    height: 98px;
                                    width: 29px;
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: 34px;
                                    position: absolute;
                                    margin-top: 30px;
                                    top: 0;
                                    right: -15px;
                                    z-index: 5;
                                    div{
                                        
                                        width: 29px;
                                        height: 10px;
                                        background-color: #161717;
                                        border-radius: 50px;
                                    }
                                }
                            }
                            .box3{
                                background-color: #F2A0FF;
                                overflow: auto;
                            }
                        } 
                        
                        .static__content{
                            display: flex;
                            margin-top: 24px;
                            gap: 24px;
                                .statistics{
                                    
                                    width: 625px;
                                    height: 296px;
                                    border-radius: 24px;
                                    background-color: #161717;
                                    padding: 20px 24px;
                                    position: relative;
                                    .links{
                                        
                                        display: flex;

                                        align-items: center;
                                        gap: 317px;
                                        h5{
                                            margin: 0;
                                            font-family: $popins;
                                            font-size: 18px;
                                            font-weight: 600;
                                            color: #fff;
                                        }
                                        .download{
                                            display: flex;
                                            gap: 16px;
                                            .year{
                                                display: flex;
                                                align-items: center;
                                                position: relative;
                                                padding: 8px 10px;
                                                width: 97px;
                                                height: 34px;
                                                border: 1px solid white;
                                                border-radius: 8px;
                                                transition: 1s;
                                                &:hover{
                                                    color: #161717;
                                                    background-color: #FAD85D;
                                                    select{
                                                        background-color: #FAD85D;
                                                        color: #161717;
                                                    }
                                                }
                                                select{
                                                    margin-left: 10px;
                                                    background-color:#161717;
                                                    border: none;
                                                    display: flex;
                                                    align-items: center;
                                                    color: white;
                                                    transition: 1s;
                                                    option{
                                                        color: white;
                                                    }
                                                }
                                            }
                                            button{
                                                display: flex;
                                                gap: 10px;
                                                width: 97px;
                                                height: 34px;
                                                padding: 8px 10px;
                                                align-items: center;
                                                background-color:#161717;
                                                color: white;
                                                border: 1px solid white;
                                                border-radius: 6px;
                                                color: $white;
                                                font-family: $popins;
                                                font-size: 12px;
                                                transition: 1s;
                                                .svg{
                                                    color: white;
                                                }
                                                &:hover{
                                                    color: #161717;
                                                    background-color: #FAD85D;
                                                    .svg{
                                                        color: #161717;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .girl__content{
                                        .static{
                                            height: 170px;
                                        }
                                        padding-top: 24px;
                                        display: flex;
                                        .girl{
                                            position: absolute;
                                            top: 40px;
                                            right: 0;
                                        }
                                    }
                                    .vector{
                                        display: flex;
                                        gap: 64px;
                                        width: 380px;
                                        margin-left: 54px;   
                                        .line{
                                            display: flex;
                                            align-items: center;
                                            height: 30px;
                                            gap: 16px;
                                            p{
                                                margin: 0;
                                            }
                                            .line__violet{
                                                width: 46px;
                                                height: 4px;
                                                background-color:  #F2A0FF;
                                            }
                                            .line__green{
                                                width: 46px;
                                                border-bottom: 2px dashed #73FFCC;
                                            }
                                        }
                                    }
                                }


                                .calendar{
                                    width: 281px;
                                    height: 296px;
                                    border-radius: 32px;
                                    background-color: #161717;
                                    padding: 24px 28px 20px 24px;
                                    h5{
                                        font-family: $popins;
                                        font-size: 16px;
                                        color: $white;
                                    }
                                    .calendar__content{
                                        display: flex;
                                        gap: 77px;
                                        padding-bottom: 20px;
                                        
                                        .calendar__select{
                                            display: flex;  
                                            width: 121px;
                                            height: 34px;
                                            align-items: center;
                                            border: 1px solid $white;
                                            border-radius: 8px;
                                            padding: 8px 10px;
                                            select{
                                                border: none;
                                                background-color: #161717;
                                                color: $white;
                                                font-size: 12px;
                                                width: 80%;
                                                
                                            }
                                        }
                                    }

                                }
                        }
                        
                        .footer{
                            display: flex;
                            gap: 24px;
                            margin-top: 24px;
                            position: relative;
                            .weekly{
                                width: 283px;
                                height: 248px;
                                padding: 24px 27px 24px 28px;
                                background-color: #161717;
                                border-radius: 24px;
                                
                                h5{
                                    font-family: $popins;
                                    font-size: 16px;
                                    color: $white;
                                    font-weight: 700;
                                    padding-bottom: 21px;

                                }
                                .static{
                                    display: flex;
                                    gap: 27px;
                                    div{
                                        display: flex;
                                        align-items: end;
                                        width: 18px;
                                        height: 125px;
                                        border-radius: 16px 16px 10px 10px;
                                        background: rgba(255, 255, 255, 0.06);
                                        
                                        &:nth-child(1) {
                                            display: flex;
                                            align-items: end;
                                            width: 18px;
                                            height: 125px;
                                            border-radius: 16px 16px 10px 10px;
                                            background: rgba(255, 255, 255, 0.06);
                                            &::before{
                                                content: " ";
                                                display: flex;
                                                width: 19px;
                                                height: 113px;
                                                border-radius: 10px 10px 0 0 ;
                                                background-color: #FAD85D;
                                            }
                                        }
                                        &:nth-child(2){
                                            display: flex;
                                            align-items: end;
                                            width: 18px;
                                            height: 125px;
                                            border-radius: 16px 16px 10px 10px;
                                            background: rgba(255, 255, 255, 0.06);
                                            &::before{
                                                content: " ";
                                                align-items: end;
                                                width: 19px;
                                                height: 73px;
                                                border-radius: 10px 10px 0 0 ;
                                                background-color: #a019b5;
                                            }
                                        }
                                        &:nth-child(3){
                                            display: flex;
                                            align-items: end;
                                            width: 18px;
                                            height: 125px;
                                            border-radius: 16px 16px 10px 10px;
                                            background: rgba(255, 255, 255, 0.06);
                                            &::before{
                                            content: " ";
                                            align-items: end;
                                            width: 19px;
                                            height: 77px;
                                            border-radius: 10px 10px 0 0 ;
                                            background-color: #dec224;
                                            }
                                        }
                                        &:nth-child(4){
                                            display: flex;
                                            align-items: end;
                                            width: 18px;
                                            height: 125px;
                                            border-radius: 16px 16px 10px 10px;
                                            background: rgba(255, 255, 255, 0.06);
                                            &::before{
                                            content: " ";
                                            align-items: end;
                                            width: 19px;
                                            height: 59px;
                                            border-radius: 10px 10px 0 0 ;
                                            background-color: #07c026;
                                            }
                                        }
                                        &:nth-child(5){
                                            display: flex;
                                            align-items: end;
                                            width: 18px;
                                            height: 125px;
                                            border-radius: 16px 16px 10px 10px;
                                            background: rgba(255, 255, 255, 0.06);
                                            &::before{
                                            content: " ";
                                            align-items: end;
                                            width: 19px;
                                            height: 113px;
                                            border-radius: 10px 10px 0 0 ;
                                            background-color: #c06307;
                                            }
                                        }
                                        &:nth-child(6){
                                            display: flex;
                                            align-items: end;
                                            width: 18px;
                                            height: 125px;
                                            border-radius: 16px 16px 10px 10px;
                                            background: rgba(255, 255, 255, 0.06);
                                            &::before{
                                            content: " ";
                                            align-items: end;
                                            width: 19px;
                                            height: 82px;
                                            border-radius: 10px 10px 0 0 ;
                                            background-color: $white;
                                            }
                                        }
                                    }
                                }

                                .text{
                                    display: flex;
                                    gap: 23px;
                                    
                                    p{
                                        padding-top: 9px;
                                        text-align: center;
                                        color: $white;
                                        font-family: $popins;
                                        font-size: 12px;
                                        font-weight: 500;
                                    }
                                }
                            }
                            .table{
                                position: relative;
                                width: 628px;
                                height: 248px;
                                background-color: #161717;
                                border-radius: 24px;
                                padding: 20px 24px 13px 24px;
                                overflow: hidden;
                                .links{
                                    align-items: center;
                                    display: flex;
                                    justify-content: space-between;
                                    h5{
                                        color: $white;
                                        font-family: $popins;
                                        font-size: 16px;
                                        font-weight: 700;
                                    }
                                    .download{
                                        display: flex;
                                        gap: 16px;
                                        .year{
                                            display: flex;
                                            gap: 10px;
                                            width: 76px;
                                            height: 34px;
                                            padding: 8px 10px;
                                            border-radius: 6px;
                                            background-color: #161717;
                                            border: 1px solid $white;
                                            transition: 1s;
                                            &:hover{
                                                border: none;
                                                background-color: #FAD85D;
                                                p{
                                                    color: #161717;
                                                }
                                            }
                                            p{
                                                color: $white;
                                                font-family: $popins;
                                                font-size: 12px;
                                                font-weight: 500;
                                            }
                                        }
                                        button{
                                                display: flex;
                                                gap: 10px;
                                                width: 97px;
                                                height: 34px;
                                                padding: 8px 10px;
                                                align-items: center;
                                                background-color:#161717;
                                                color: white;
                                                border: 1px solid white;
                                                border-radius: 6px;
                                                color: $white;
                                                font-family: $popins;
                                                font-size: 12px;
                                                transition: 1s;
                                                &:hover{
                                                    background-color: #FAD85D;
                                                    color: #161717  ;
                                                }
                                        }
                                        
                                    }
                                }
                                
                                table{
                                    position: absolute;
                                    left: 0;
                                    display: flex;
                                    
                                    justify-content: space-between;
                                    tr{
                                    padding-left: 24px;
                                        height: 44px;
                                        display: flex;
                                        gap: 50px;
                                        background-color: #161717;
                                        td{
                                            width: 84px;
                                            font-weight: 400;
                                            color: #8A8A8A;
                                            font-family: $popins; 
                                            font-size: 12px;                               
                                         }
                                         .txt1{
                                           color: #C49D50;
                                         }
                                         .txt2{
                                            color: #73FFCC;
                                         }
                                         .txt3{
                                            color: #6F82E8;
                                         }
                                    }
                                }
                            }
                        }
                        
                    }
                    .right{
                        margin-top: 5px;
                        width: 307px;
                        height: 808px;
                        background-color: #161717;
                        border-radius: 24px;
                        margin-left: 36px;
                        padding: 28px 26px 77px 24px;
                        .right__nav{

                            display: flex;
                            align-items: center;
                            gap: 16px;
                            height: 35px;
                            padding-bottom: 25px;
                            h6{
                                margin: 0;
                                font-family: $popins;
                                font-size: 16px;
                                font-weight: 500;
                                color: $white;
                            }
                            p{
                                margin: 0;
                                color: #686163;
                                font-family: $popins;
                                font-size: 14px;
                            }
                        }
                        .right__head{
                            
                            .img__content{
                                display: flex;
                                gap: 17px;
                                padding-bottom: 39px;
                                    img{
                                        width: 169px;
                                        height: 149px;
                                    }
                                    .box__content{
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        flex-direction: column;
                                        row-gap: 10px;
                                        .box__txt{
                                            display: flex;
                                            width: 79px;
                                            height: 26px;
                                            gap: 4px;
                                            align-items: center;
                                            border-radius: 2px;
                                            transition: 1s;
                                            padding: 6px 4px 5px 6px;
                                            &:hover{
                                                background-color: #242424;
                                            }
                                            .box, .box1, .box2, .box3{
                                                width: 11px;
                                                height: 11px;
                                                border-radius: 2px;
                                                background-color: #FFC9C0;
                                            }
                                            .box1{
                                                background-color: #45F6D4;
                                            }
                                            .box2{
                                                background-color: #FE7070;
                                            }
                                            p{
                                                margin: 0;
                                                color: $white;
                                                font-size: 10px;
                                                font-weight: 500;
                                            }
                                        }
                                    }
                            }
                            p{
                                color: #666262;
                                font-family: $popins;
                                font-weight: 500;
                                font-size: 12px;
                                text-align: center;
                            }
                        }   

                        .right__main{
                            width: 100%;
                            border-top: 1px solid #3F3F3F;
                            border-bottom: 1px solid #3F3F3F;
                            padding: 24px 11px 34px 0;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-bottom: 29px;
                            .select{
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                padding: 8px;
                                width: 199px;
                                height: 36px;
                                border-radius: 8px;
                                background: rgba(255, 255, 255, 0.09);
                                transition: 1s;
                                &:hover{
                                    background-color: #FAD85D;
                                    select{
                                        color: $black;
                                    }
                                }
                                
                                select{
                                    background: none;
                                    border: none;
                                    padding-right: 33px;
                                    color: $white;
                                   
                                }
                            }
                            .txt{
                                padding-top: 38px;
                                display: flex;
                                justify-content: space-between;
                                width: 100%;
                                .txt1, .txt2{
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: 7px;
                                    p{
                                        display: flex;
                                        font-family: $popins;
                                        color: $white;
                                        font-size: 12px;

                                    }
                                    .txt__color{

                                        &::after{
                                            content: "  +1k";
                                            color: #21BB85;
                                            font-family: $popins;
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }

                        .right__footer{
                            display: flex;
                            flex-direction: column;
                            row-gap: 24px;
                            h6{
                                font-family: $popins;
                                color: $white;
                                font-size: 12px;
                            }
                            h2{
                                font-family: $popins;
                                color: $white;
                                font-size: 32px;
                                font-weight: 500;
                                padding: 0;
                            }
                            .box{
                                display: flex;
                                width: 260px;
                                height: 8px;
                                border-radius: 8px;
                                background-color: #1E1828;
                               
                                margin: 0;
                                &::before{
                                    content: "";
                                    width: 187px;
                                    height: 8px;
                                    border-radius: 8px;
                                    background: linear-gradient(90deg, #A36BFD 0%, #6B8AEB 100%);

                                }

                                
                                
                            }
                            .box1{
                                display: flex;
                                width: 260px;
                                height: 8px;
                                border-radius: 8px;
                                background-color: #1E1828;
                               
                                margin: 0;
                                &::before{
                                    content: "";
                                    width: 120px;
                                    height: 8px;
                                    border-radius: 8px;
                                    background: linear-gradient(90deg, #A36BFD 0%, #6B8AEB 100%);

                                }
                            }
                        }

                    }

            }


            
            
        }

        
        
    }
    @include mobile() {
        .all__content{
            display: flex;
        }
      

    }
}

